/* The Simple Design System is made with ❤️ by Glenn Sorrentino - https://glennsorrentino.com */
/* Please consider contributing! */

/* Add your custom styles in this file... */

@media (prefers-color-scheme: light) {

}

@media (prefers-color-scheme: dark) {

}

#howto img {
  max-width: 768px;
  margin: var(--spacing-medium) auto 0 auto;
}

.groupRow .description {
  margin: 0 0 var(--spacing-large) 0;
}

.center .description {
  text-align: center;
  margin-top: 0;
}

.center .description:only-of-type {
  text-align: left;
}

.center .description p {
  margin: var(--spacing-base) auto 0 auto;
}

.description ul {
  margin: var(--spacing-base) 0 0 0 !important;
}

.description ul li {
  font-weight: normal;
  line-height: var(--line-height-base);
}

.description ul li  {
  font-weight: bold;
  margin-bottom: var(--spacing-medium) !important;
  font-size: calc(var(--font-size-5) * .75);
}

.description ul li a {
  font-weight: normal;
  font-size: var(--font-size-small);
  display: block;
  margin: var(--spacing-xsmall) 0;
  word-break: break-all;
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 960px) {

}

@media only screen and (max-width: 768px) {
  .groupRow {
    margin: 0;
  }

  .groupRow:first-of-type {
    margin-top: var(--spacing-medium);
  }
}

@media only screen and (max-width: 640px) {

}

@media only screen and (max-width: 480px) {

}
